*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem */
  font-size: 62.5%;
}

body {
  background-image: radial-gradient(rgb(107, 10, 10), #17190b);
  height: 100vh;
  color: white;
  font-family: Arial;
  line-height: 1.7;
  padding: 3rem;
}

.container {
  padding: 4rem;
}

.naslov {
  font-size: 5rem;
  text-align: center;
}

.content {
  padding: 2rem;
  font-size: 2rem;
  border: 1px solid green;
  border-radius: 2px;
}

.content input {
  padding: 1rem;
  width: 10%;
  font-size: 1.6rem;
}

.content button {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: rgb(24, 94, 92);
  border: none;
  color: white;
  font-weight: 300;
  border-radius: 2px;
  transition: all 0.15s;
  cursor: pointer;
  margin-bottom: 2px;
}

.content button:hover {
  background-color: white;
  color: rgb(24, 94, 92);
}

#target {
  padding-top: 1rem;
  padding-left: 1rem;
}
