@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* /1rem == 10px 10px/16px =62.5% */
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  border-radius: 1.5rem;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 1rem;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 3rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  margin: 0;
  opacity: 0;
  transition: opacity 0.7s;
}

.panel.active {
  flex: 2;
}

.panel.active h3 {
  opacity: 1;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
