*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem */
  font-size: 62.5%;
}

body {
  background-color: #333;
  height: 100vh;
  color: white;
  font-family: Arial;
  line-height: 1.7;
  padding: 3rem;
}

.container {
  width: 90vw;
  background-color: white;
}

.container__heading {
  background-color: rgb(145, 12, 12);
}

.container__naslov {
  text-align: center;
  font-size: 4rem;
}

.container__input {
  width: 70vw;
  margin: 2rem 0 2rem 2rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 2px;
}
.container__input::placeholder {
  font-size: 2rem;
}

.container__button {
  border: none;
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  color: rgb(145, 12, 12);
  cursor: pointer;
  transition: all 0.15s;
}

.container__button:hover {
  color: white;
  background-color: rgb(90, 47, 14);
  transform: scale(1.2);
}

.container__body {
  margin: 2rem;
  padding: 2rem;
  color: rgb(20, 67, 111);
  font-size: 1.6rem;
  background-color: white;
}

.container__list {
  list-style-type: none;
}

.container__item {
  margin: 1rem;
  padding: 2rem;
  cursor: pointer;
}

#deleteItem {
  float: right;
  cursor: pointer;
  transform: scale(1.3);
  color: rgb(145, 12, 12);
}

.item__checked {
  text-decoration: line-through;
  list-style-type: "\1F44D";
}
